<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3> Please fill in your property details </h3>
    <form action="/property_added" method="post">
      Property Name <input type="text" name="property_name">
      Property Description <input type="text" name="property_desc">
      Property price <input type="text" name="property_price">
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
