<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">

    </style>
    <meta charset="utf-8">
    <title>  </title>
  </head>
  <body>
    <center>
    <h1> COSMOS BNB </h1>
<%= yield %>
    </center>
  </body>
</html>
