<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome, <%=%>!</h1>
    <h2>Your info</h2>
    <p>email: <%= %></p>
    <a href = "/add_property">Add property</a>
    <a href = "/rent_property">Rent property</a>
    <p>email: <%= @user.email%></p>
    <p>
      <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log out">
      </form>
    </p>
  </body>
</html>
