<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Congrats your property has been submitted

    <%= @property.name %>
    <%= @property.description %>
    <%= @property.price %>

  </body>
</html>
