<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Here is a list of properties to rent</h1>
    <div id='container'>

      <% @properties.each do|property| %>
        <%= property.name %>
      <% end %>

      </div>
    </div>
  </body>
</html>
