
    <h1>Here is a list of properties to rent</h1>
    <div id='container'>

      <% @properties.each do|property| %>
        <div class = 'property-tile'>
          <%= property.name %>
          <%= property.description %>
          <%= property.price %>
          <a href = "/individual_property/<%=property.id%>">View property</a>
        </div>
      <% end %>
      </div>
    </div>
